.option-card {
    transition: transform 0.2s ease-in-out;
  }
  
  .option-card:hover {
    transform: scale(1.01);
    cursor: pointer;
    background-color: rgb(207, 207, 207);
  }

  .card {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
.opt
{
    margin: 0;
}

.contCard
{
    padding: 5px;
    
}

.contenedor
{
    background-color:rgb(232, 232, 232) !important;
}

.cardCont
{
    background-color:rgb(227, 192, 21) !important;
}