<div class="container marketing">
    <div class="row">
      <div class="col-lg-4 mx-auto text-center" style="margin-top: 25px;">
        <img src="assets/logo.png" class="bd-placeholder-img rounded-circle" width="140" height="140">
        <h2 class="fw-normal">SALA DE JUEGOS</h2>
        <p class="lead">La sala de juegos mas normal que vas a encontrar jamás.</p>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette" style="margin-top: 50px; background-color:rgb(232, 232, 232)!important;">
      <div class="col-md-7" style="margin-top: 25px;">
        <h2 class="featurette-heading fw-normal lh-1">MARIANO GUEVARA</h2>
        <br>
        <h4 class="featurette-heading fw-normal lh-1 text-body-secondary">Sobre el Creador</h4>
        <p class="lead">Desarrollador de software principiante que está por terminar la carrera de técnico universitario en la UTN donde tambien desarrollo el rol de ayudante de catedra. Nací el 4 de marzo de 2005, me gustan el anime y dibujar y tengo conocimientos en varios lenguajes como C, Python, C#, JS, PHP...</p>
        
        <br>

        <h4 class="featurette-heading fw-normal lh-1 text-body-secondary">Sobre el juego del creador</h4>
        <p class="lead">Desarrollador de software principiante que está por terminar la carrera de técnico universitario en la UTN donde tambien desarrollo el rol de ayudante de catedra. Nací el 4 de marzo de 2005 </p>
        
    </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="assets/GuevaraMariano.jpg" style="margin-right: 0; padding: 0;">
      </div>
    </div>
  </div>