<main class="form-signin w-100 m-auto container">
    <form>
      <img class="mb-4 d-block mx-auto" src="assets/logo.png" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal text-center">Inicia sesión</h1>
  
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Correo electrónico</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Contraseña</label>
      </div>
  
      <div class="form-check text-start my-3">
        <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Recuerdame
        </label>
      </div>
      <button class="btn btn-warning w-100 py-2" type="submit">Ingresar</button>
      <a routerLink="registro" class="link-primary" style="margin-top: 15px; display: block;">¿Aún no tienes cuenta? ¡Regístrate aquí!</a>
    </form>
  </main>