.header
{
    background-color: rgb(47,53,58) !important;
}

.option
{
    color: rgb(183, 183, 183) !important;
}
.option:hover
{
    cursor: pointer;
    color: rgb(255, 255, 255) !important;
}

.imgChat:hover
{
    cursor: pointer;
    transform: scale(1.2);
}